{% extends '::base.html.twig' %}

{% form_theme form ':Form:quiz_theme.html.twig' %}

{% block title %}{{ action }} quiz{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ action }} a Quiz</h1>
            <p class="lead text-muted">
                Add your contribution by creating a quiz
            </p>
        </div>
    </section>

    {% if form.vars.errors is not empty %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.categories) }}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <label class="form-control-label">{{ form_label(form.questions) }}</label>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="questions"
            data-prototype-question="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}"
        >
            {% for question in form.questions %}
                {{ form_widget(question) }}
            {% endfor %}

            {% do form.questions.setRendered %}
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row text-center">
                    <div class="col">
                        {{ form_widget(form.submit) }}
                    </div>
                    <div class="col">
                        <span class="btn btn-warning" id="add-question"><i class="fa fa-plus"></i> Add Question</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder = $('div.questions');

        $collectionHolder.on('click', '.remove-question', function () {
            $(this).parent().parent().parent().parent().remove();
        });

        $collectionHolder.on('click', '.remove-answer', function () {
            $(this).parent().parent().remove();
        });


        /*

        // setup an "add a tag" link
        var $addQuestionLink = $('<a href="#" class="add_question_link">Add a question</a>');
        var $newLinkLi = $('<li></li>').append($addQuestionLink);
        var newAnswerLinkLi = '<a href="#" class="add_answer_link">Add an answer</a>';
        var remove = '<span class="btn btn-danger btn-sm remove"><i class="glyphicon glyphicon-remove-circle"></span>';

        function removeBlock(el) {
            $(el).parent().parent().remove();
        }

        function addQuestionForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype-question');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            var $removeBtn = $(remove);
            $newFormLi.find('#quiz_questions_' + index + '_text').parent().append($removeBtn);
            $newLinkLi.before($newFormLi);

            var $answersDiv = $newFormLi.find('#quiz_questions_' + index + '_answers');
            var answersPrototype = $answersDiv.data('prototype');
            var $answersForm = $(answersPrototype.replace(answerLabel, '').replace(/__answer__/g, 0));
            $answersDiv.append($answersForm);
            $answersDiv.append($(newAnswerLinkLi));
            $answersDiv.addClass('answers-container');
            $answersDiv.attr('data-index', 0);
        }

        function addAnswerForm($collectionHolder) {
            var $newLinkLi = $collectionHolder.find('.add_answer_link');
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index') + 1;

            var newForm = prototype.replace(answerLabel, '');
            newForm = newForm.replace(/__answer__/g, index);

            $collectionHolder.data('index', index);

            $newLinkLi.before($(newForm));
        }
        
        $collectionHolder.on('click', '.remove', function () {
            removeBlock(this);
        });

        $collectionHolder.on('click', '.add_answer_link', function(e) {
            e.preventDefault();

            addAnswerForm($(this).closest('.answers-container'));
        });

        $(document).ready(function() {
            $.each($collectionHolder.find('li'), function (i, element) {
                $(element).find('div').first()
                    .append($(newAnswerLinkLi))
                    .find('div').first().append($(remove)).siblings().first().find('div').first()
                        .addClass('answers-container');
            });
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.children().length - 1);

            $addQuestionLink.on('click', function(e) {
                e.preventDefault();

                addQuestionForm($collectionHolder, $newLinkLi);
            });
        });
*/
    </script>
{% endblock %}
