{% extends '::base.html.twig' %}

{% form_theme form ':Form:quiz_theme.html.twig' %}

{% block title %}{{ action }} quiz{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ action }} a Quiz</h1>
            <p class="lead text-muted">
                Add your contribution by creating a quiz
            </p>
        </div>
    </section>

    {% if form.vars.errors is not empty %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.categories) }}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <label class="form-control-label">{{ form_label(form.questions) }}</label>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="questions"
            data-prototype-question="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
            {% for question in form.questions %}
                {{ form_widget(question) }}
            {% endfor %}

            {% do form.questions.setRendered %}
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row text-center">
                    <div class="col">
                        {{ form_widget(form.submit) }}
                    </div>
                    <div class="col">
                        <span class="btn btn-warning" id="add-question"><i class="fa fa-plus"></i> Add Question</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder = $('div.questions');
        var $addQuestion = $('#add-question');

        function addQuestionForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype-question');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            $collectionHolder.append($(newForm));
        }

        function addAnswerForm($button) {
            var prototype = $button.data('prototype-answer');
            var $answerHolder = $button.parent().parent().find('.answers:first');
            var index = $answerHolder.data('index');

            if (index == undefined) {
                index = $answerHolder.children().length;
                $answerHolder.data('index', index);
            }

            var newForm = prototype.replace(/__answer__/g, index);
            $answerHolder.append($(newForm));
        }

        $collectionHolder.on('click', '.remove-question', function () {
            $(this).parent().parent().parent().parent().remove();
        });

        $collectionHolder.on('click', '.remove-answer', function () {
            $(this).parent().parent().remove();
        });

        $(document).ready(function() {
            $collectionHolder.data('index', $collectionHolder.children().length - 1);

            $addQuestion.on('click', function(e) {
                e.preventDefault();

                addQuestionForm($collectionHolder);
            });

            $collectionHolder.on('click', '.add-answer', function (e) {
                e.preventDefault();

                addAnswerForm($(this));
            });
        });
    </script>
{% endblock %}
